{% load static %}

<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8" />
        <title>Joker Note Editor</title>
        <link rel="stylesheet" href="{% static 'editor/css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'editor/css/editormd.css' %}" />  
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  
        <style>

            #note-title {
                margin-left: 95px;
                height: 40px;
                font-size: 30px;
                line-height: 40px;
            }
        </style>
    </head>
    <body>
        <div id ="note_list" class="w3-sidebar w3-bar-block" style="width:25%">
            <h3 class="w3-bar-item">Note List</h3>
          </div>
        {% csrf_token %}
        <div id="layout" style="margin-left:25%">
            <header>
                <h1>Joker Markdown Editor</h1>
            </header>
            <input type="text" name="note-title" id="note-title" value="test.md">
            <div class="btns">
                <button id="export-btn">Export</button>
                <button id="save-btn">Save</button>
                <button id="preview-btn">Preview</button>
                <button id="fullscreen-btn">Fullscreen</button>
                <button id="toggle-toolbar-btn">Toolbar</button>
                <input type ='file' id="import-btn" >
            </div>
            <div id="test-editormd"></div>
        </div>
        <script src="{% static 'editor/js/jquery.min.js' %}"></script>
        <script src="{% static 'editor/js/editormd.js' %}"></script>   
        <script type="text/javascript">
            var testEditor;
            
            $(function() {
                
                $.get("{% static 'editor/notes/test.md' %}", function(md){
                    // console.log(md);
                    testEditor = editormd("test-editormd", {
                        width: "90%",
                        height: 740,
                        path : "{% static 'editor/lib/' %}",
                        theme : "dark",
                        previewTheme : "dark",
                        editorTheme : "pastel-on-dark",
                        markdown : md,
                        codeFold : true,
                        //syncScrolling : false,
                        saveHTMLToTextarea : true,    // 保存 HTML 到 Textarea
                        searchReplace : true,
                        //watch : false,                // 关闭实时预览
                        htmlDecode : "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启    
                        // toolbar  : false,             //关闭工具栏
                        //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
                        emoji : true,
                        taskList : true,
                        tocm            : true,         // Using [TOCM]
                        tex : true,                   // 开启科学公式TeX语言支持，默认关闭
                        flowChart : true,             // 开启流程图支持，默认关闭
                        sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
                        //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
                        //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
                        //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
                        //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
                        //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
                        imageUpload : true,
                        imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                        imageUploadURL : "./php/upload.php",
                        onload : function() {
                            console.log('onload', this);
                            //this.fullscreen();
                            //this.unwatch();
                            //this.watch().fullscreen();

                            //this.setMarkdown("#PHP");
                            //this.width("100%");
                            //this.height(480);
                            //this.resize("100%", 640);
                        }
                    });
                });
                /* note-list.json is loaded here */
                $.get("{% static 'editor/json/note-list.json' %}", function(json){
                    console.log(json);
                    console.log(json.notes.length);
                    for(var i = 0; i<json.notes.length;i++){
                        console.log(i)
                        document.getElementById("note_list").innerHTML += ("<a href= \" "+ json.notes[i].path+ " \" class=\" w3-bar-item w3-button\" >" +json.notes[i].title + "</a>");
                    }
                    


                });
                

                $("#export-btn").bind('click', function() {
                    testEditor.save_note();
                });
                $("#save-btn").bind('click', function () {
                    console.log($("#note-title").val())
                    $.ajax({
                        method:'POST',
                        url: "{% url 'editor:save_note' %}",
                        data:{
                            md:testEditor.getMarkdown(),
                            fname: $("#note-title").val(),
                            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                        }, 
                        success: function() {
                            alert('Note saved');
                        },
                    });
                });
                $("#import-btn").bind('click', function() {
                    var files = document.getElementById('import-btn');
                    files.addEventListener('change', function (event) {
                        console.log(event.target.files);
                        console.log(
                            `文件名称:${event.target.files[0].name}
                            文件类型:${event.target.files[0].type}
                            文件大小:${event.target.files[0].size} bytes`
                            );


                        let file = event.target.files[0];
                        let reader = new FileReader();
                        reader.readAsText(file);
                        reader.onload = function () {
                            console.log(reader.result);
                            testEditor.load_note(reader.result);
                        }
                    });
                });
                
                $("#preview-btn").bind('click', function() {
                    testEditor.previewing();
                });
                
                $("#fullscreen-btn").bind('click', function() {
                    testEditor.fullscreen();
                });
                var flag = 1;
                $("#toggle-toolbar-btn").bind('click', function() {
                    if (flag == 0) {
                        testEditor.showToolbar();
                        flag = 1;
                    }else{
                        testEditor.hideToolbar();
                        flag = 0;
                    }
                });
            });
        </script>
    </body>
</html>