{% load static %}

<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8" />
    <title>Joker Note Editor</title>
    <link rel="stylesheet" href="{% static 'editor/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'editor/css/editormd.css' %}" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        #note-title {
            margin-left: 5%;
            height: 40px;
            width: 90%;
            font-size: 30px;
            line-height: 40px;
        }
    </style>
</head>

<body>
    {% csrf_token %}
    <div id="note_list" class="w3-sidebar w3-bar-block" style="width:25%">
        <h3 class="w3-bar-item">Note List</h3>
        <ul></ul>
    </div>

    <div id="layout" style="margin-left:25%">
        <header>
            <h1>Joker Markdown Editor</h1>
        </header>
        <input type="text" name="note-title" id="note-title" value="">
        <div class="btns">
            <button id="create-btn">New</button>
            <button id="delete-btn">Delete</button>
            <button id="save-btn">Save</button>
            <button id="preview-btn">Preview</button>
            <!-- <button id="fullscreen-btn">Fullscreen</button> -->
            <button id="toggle-toolbar-btn">Toolbar</button>
            <button id="export-btn">Export</button>
            <input type='file' id="import-btn">
        </div>
        <div id="test-editormd"></div>
    </div>
    <script src="{% static 'editor/js/jquery.min.js' %}"></script>
    <script src="{% static 'editor/js/editormd.js' %}"></script>
    {% include './joker-editor.html' %}
</body>

</html>